# On your Mac, in your repo:
echo '*.ipynb filter=nbstripout' >> .gitattributes
pip install nbstripout
nbstripout --install
git add .gitattributes && git commit -m "Add nbstripout filter"*.ipynb filter=nbstripout
